{% extends 'base.html.twig' %}

{% block title %} Titre de ma premiere page {% endblock %}
{% block content %}
    <h1>Bonjour {{ firstname }}</h1>
    Ceci est ma première page de bonjour
{% endblock %}